# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/

# Docker
.devcontainer/

# OS
.DS_Store
Thumbs.db

# Project Build
*.o
*.so
*.elf
obj_dir/
src/shim/libfpgashim.c
src/rtl/vfpga_top.v

# CIP
DESIGN_PHILOSOPHY.md

